= link_to 'Back', companies_path
.row
  .col-md-5
    .element-container
      .title Company
      .content
        %p#notice= notice
        %p
          %strong Name:
          = @company.name
        %p
          %strong Sector:
          = @company.sector.name
        %p
          %strong industry:
          = @company.industry.name
        %p
          %strong Symbol:
          = @company.symbol
  .col-md-7
    .element-container
      .title Key Statistics
      .content
.row
  .col-md-12
    .element-container
      .title Historical Prices
      .content
        #company_chart{'data-url' => "/companies/#{@company.id}/historical_data/prices",
                       'data-name' => @company.name }

%table#historical_prices_table.table-striped{'data-pagination' => 'true',
             'data-page-list' => '[10, 25, 50, 100, 200, 500]',
             'data-show-refresh' => 'true',
             'data-side-pagination' => 'server',
             'data-url' => "/companies/#{@company.id}/historical_data/list"}

= link_to 'Back', companies_path

-#- content_for :scripts do
-#  %script(src='/assets/historical_data')
-#  %script(src='/assets/charts/companies')

